// Variables

$spacer-lg                      : 3rem;
$spacer-sm                      : 1.5rem;

$layout-spacer-lg               : 3rem;
$layout-spacer-x                : 1.5rem;

$app-sidebar-width              : 300px;
$app-sidebar-width-collapsed    : 60px;

$logo-height                    : 36px; //23
$logo-width                     : 150px; //97

$app-header-height              : 60px;
$font-size-xs                   : 14px;